body {
	margin: 0;
	height: 100%;
	overflow: auto;
	background: #E3E3E3;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
    text-decoration: none;
	color: #BC315C;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

b {
	font-weight: 600;
}

#title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0 40px;
}

#title {
	font-size: 56px;
	color: black;
	-webkit-text-stroke: 1px white;
	text-shadow: 0 0 3px black;
	margin: 0;
}

#subtitle {
	font-size: 46px;
	color: #BC315C;
	-webkit-text-stroke: 1px white;
	text-shadow: 0 0 3px black;
	margin: 0;
}

#subtitle span {
    font-size: 36px;
    letter-spacing: -3px;
}

#divider {
	height: 5px;
	border: solid 1px white;
	width: 620px;
	background: black;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	margin: -6px 0;
}

#description {
	font-size: 20px;
	margin-bottom: 10px;
}

.card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 80%;
	margin: 30px;
	padding: 20px;
    counter-reset: step
}

.bordered {
    border: solid 1px #BC315C;
    border-radius: 10px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin: 30px 10px;
    padding: 20px;
    position: relative;
}

.step::before {
  	counter-increment: step;
	content: counter(step);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 18px;
    font-weight: 600;
    background: #BC315C;
    color: white;
}

.step-title {
	font-size: 20px;
	font-weight: 600;
}

h2 {
	margin-top: 0;
}

.button {
	display: flex;
    background: #BC315C;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    transition: box-shadow 0.2s ease-in-out;
}

.button:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.button img {
	margin-right: 6px;
}

.header-button img {
	margin-right: 6px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #BC315C;
    color: white;
    border-radius: 10px 10px 0 0;
}

.table-header-item:first-of-type {
	flex: 1;
}

.table-header-item {
	flex: 3;
	text-align: center;
    padding: 10px;
}

.header-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #BC315C;
    border-top: none;
}

.table-row:last-of-type {
	border-radius: 0 0 10px 10px;
}

.table-row-item:first-of-type {
	flex: 1;
}

.table-row-item {
	flex: 3;
	text-align: center;
    padding: 10px;
}

.table-row-item:not(:last-of-type) {
	border-right: solid 1px #BC315C;
}

.contact-container {
	display: flex;
}

.contact-item {
	display: flex;
	align-items: center;
}

.contact-item:not(:last-of-type) {
	margin-right: 8px;
}

.contact-item:not(:first-of-type) {
	margin-left: 8px;
}

.contact-icon {
	border-radius: 50%;
	padding: 5px;
	margin-right: 5px;
}

.twitter {
	color: #50ABF1;
}

.twitter img {
	background: #50ABF1;
}

.twitch {
	color: #9146FF;
}

.twitch img {
	background: #9146FF;
}

.github {
	color: #323232;
}

.github img {
	background: #323232;
}

.discord {
	color: #7289DA;
  	position: relative;
  	cursor: pointer;
}

.discord .contact-icon {
	background: #7289DA;
}

#tooltip {
  visibility: hidden;
  background-color: #7289DA;
  color: white;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #7289DA transparent transparent transparent;
}

.discord:hover #tooltip {
  visibility: visible;
  opacity: 1;
}