.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #DDDDDD;
}
.footer .version {
  font-size: 12px;
  font-weight: 600;
  margin-right: 16px;
}
.footer .contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  padding: 10px 0;
  margin-left: 16px;
}
.footer .contact-container .contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .contact-container .contact .contact-item {
  display: flex;
  align-items: center;
}
.footer .contact-container .contact .contact-item:not(:last-of-type) {
  margin-right: 8px;
}
.footer .contact-container .contact .contact-item:not(:first-of-type) {
  margin-left: 8px;
}
.footer .contact-container .contact .contact-item.tooltip {
  position: relative;
  cursor: pointer;
}
.footer .contact-container .contact .contact-item.tooltip #tooltip {
  visibility: hidden;
  background-color: #7289DA;
  color: white;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.footer .contact-container .contact .contact-item.tooltip #tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #7289DA transparent transparent transparent;
}
.footer .contact-container .contact .contact-item.tooltip:hover #tooltip {
  visibility: visible;
  opacity: 1;
}
.footer .contact-container .contact .contact-item .contact-link {
  display: flex;
  align-items: center;
}
.footer .contact-container .contact .contact-item .contact-link .contact-icon {
  border-radius: 50%;
  padding: 6px;
  margin-right: 5px;
}
.footer .contact-container .contact .contact-item .twitter {
  color: #50ABF1;
}
.footer .contact-container .contact .contact-item .twitter .contact-icon {
  background: #50ABF1;
}
.footer .contact-container .contact .contact-item .twitch {
  color: #9146FF;
}
.footer .contact-container .contact .contact-item .twitch .contact-icon {
  background: #9146FF;
}
.footer .contact-container .contact .contact-item .github {
  color: #323232;
}
.footer .contact-container .contact .contact-item .github .contact-icon {
  background: #323232;
}
.footer .contact-container .contact .contact-item .discord {
  color: #7289DA;
}
.footer .contact-container .contact .contact-item .discord .contact-icon {
  background: #7289DA;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #FDCB0C;
  box-shadow: 0px 0px 15px 0px rgba(17, 17, 17, 0.2);
}
.header-container .header {
  width: 100%;
  max-width: 1080px;
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-container .header h2 {
  flex: 1;
  margin: 0;
  text-align: center;
}
.header-container .logo {
  margin-right: 8px;
  height: 55px;
}
.header-container .menu-button {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: transparent;
}
.header-container .menu-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

#menu {
  position: absolute;
  opacity: 0;
  top: 57px;
  right: -15px;
  padding: 0 15px 15px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
#menu .menu {
  background-color: #FDCB0C;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 15px 0px rgba(17, 17, 17, 0.2);
}
#menu .menu .checkbox {
  display: flex;
  align-items: center;
  margin: 4px;
  font-size: 14px;
  font-weight: 600;
}
#menu .menu .checkbox label {
  margin-left: 8px;
}
#menu.open {
  opacity: 1 !important;
}
#menu.hover {
  opacity: 1 !important;
}
#menu.menu-hover {
  opacity: 1 !important;
}

.content {
  margin: 12px auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  width: calc(100% - 24px);
}
.content .card {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(17, 17, 17, 0.2);
  padding: 16px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}
.content .card h2 {
  margin: 22px 0;
}
.content .card h2:last-of-type {
  margin-bottom: 44px;
}
.content .card #selected-char {
  display: none;
}
.content .card #selected-move {
  display: none;
}
.content .card .button {
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  background: #FDCB0C;
  color: #444444;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.content .card .button .randomize-icon {
  opacity: 0.75;
  margin-left: 8px;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #E3E3E3;
  color: #444444;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #BC315C;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
