@use 'colors';
@import 'components/contact';
@import 'components/header';
@import 'components/menu';
@import 'components/content';

// sass --watch sass/styles.scss css/styles.css

body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background: colors.$background;
	color: colors.$grey;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: #BC315C;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}
