<div class="footer">
  <div class="contact-container">
    <div class="contact">
      <div class="contact-item">
        <a class="contact-link twitter" href="https://twitter.com/vitormenezello" target="_blank">
          <div class="contact-icon">
            <img src="assets/images/twitter.png" alt="Twitter" />
          </div>
        </a>
      </div>
      <div class="contact-item">
        <a class="contact-link github" href="https://github.com/VitorMenezello/smash-charades" target="_blank">
          <div class="contact-icon">
            <img src="assets/images/github.png" alt="GitHub" />
          </div>
        </a>
      </div>
    </div>
    <div class="version">
      <span>
        v{{ version }}</span>
    </div>
  </div>
</div>
