$twitter: #50ABF1;
$twitch: #9146FF;
$github: #323232;
$discord: #7289DA;

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #DDDDDD;

	.version {
		font-size: 12px;
		font-weight: 600;
		margin-right: 16px;
	}

	.contact-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1080px;
		padding: 10px 0;
		margin-left: 16px;

		.contact {
			display: flex;
			align-items: center;
			justify-content: center;

			.contact-item {
				display: flex;
				align-items: center;

				&:not(:last-of-type) {
					margin-right: 8px;
				}

				&:not(:first-of-type) {
					margin-left: 8px;
				}

				&.tooltip {
					position: relative;
					cursor: pointer;

					#tooltip {
						visibility: hidden;
						background-color: $discord;
						color: white;
						width: 100px;
						text-align: center;
						border-radius: 10px;
						padding: 8px 12px;
						position: absolute;
						z-index: 1;
						bottom: 40px;
						left: 15px;
						opacity: 0;
						transition: all 0.2s ease-in-out;

						&::after {
							content: "";
							position: absolute;
							top: 100%;
							left: 50%;
							margin-left: -5px;
							border-width: 5px;
							border-style: solid;
							border-color: $discord transparent transparent transparent;
						}
					}

					&:hover #tooltip {
						visibility: visible;
						opacity: 1;
					}
				}

				.contact-link {
					display: flex;
					align-items: center;

					.contact-icon {
						border-radius: 50%;
						padding: 6px;
						margin-right: 5px;
					}
				}

				.twitter {
					color: $twitter;

					.contact-icon {
						background: $twitter;
					}
				}

				.twitch {
					color: $twitch;

					.contact-icon {
						background: $twitch;
					}
				}

				.github {
					color: $github;

					.contact-icon {
						background: $github;
					}
				}

				.discord {
					color: $discord;

					.contact-icon {
						background: $discord;
					}
				}
			}
		}
	}
}

